.player {
  $height: 70px;

  height: $height;

  .player-art {
    $width: $height;

    height: 100%;
    width: $width;

    .player-art-image {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
}
